In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
sr=pd.Series([4,8,15,16,23,42])

In [7]:
print(sr)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
l1=['Jatin',21, 1,2003, 'chandigarh', 'acer', '63', 72, 80 , 90]

In [9]:
pd.Series(l1)

0         Jatin
1            21
2             1
3          2003
4    chandigarh
5          acer
6            63
7            72
8            80
9            90
dtype: object

In [15]:
data={
"Name":['Alice','Bob','Claire'],

"Age":[25,30,27],
      
"Gender":['Female','Male','Female']}

In [19]:
df=pd.DataFrame(data)

In [20]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:

In pandas, a DataFrame is a two-dimensional, tabular data structure that is similar to a spreadsheet or SQL table. It consists of rows and columns, 
where each column can have a different data type. The DataFrame is a fundamental data structure for data analysis in pandas,
and it provides a convenient way to manipulate and analyze structured data.On the other hand, a Series is a one-dimensional labeled array,
which can be seen as a single column of a DataFrame. It is essentially a single column of data with an associated label or index for each element. 
A DataFrame, in contrast, is a collection of Series where each Series represents a column.

example:

import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print("\nType of DataFrame:", type(df))

# Creating a Series
ages = pd.Series([25, 30, 22], name='Age')
print("\nSeries:")
print(ages)
print("\nType of Series:", type(ages))

In this example, df is a DataFrame containing three columns, each represented as a Series. The ages variable is a standalone Series representing 
the 'Age' column of the DataFrame.

In [1]:
Read Data:

pd.read_csv(): Read data from a CSV file into a DataFrame.
pd.read_excel(): Read data from an Excel file into a DataFrame.
pd.DataFrame(): Create a DataFrame from data in memory.
Viewing Data:

df.head(n): Display the first n rows of the DataFrame.
df.tail(n): Display the last n rows of the DataFrame.
df.info(): Display a concise summary of the DataFrame, including data types and missing values.
df[df['column'] > value]: Filter rows based on a condition.
df.query('condition'): Filter rows using a query expression.

code demonstrating the usage of one of these functions:

SyntaxError: invalid syntax (866980474.py, line 1)

In [3]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
        'Age': [22, 21, 23, 22, 24],
        'Math_Score': [85, 90, 78, 92, 88],
        'English_Score': [75, 82, 80, 88, 90]}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
high_math_score = df[df['Math_Score'] > 85]
print("\nStudents with Math score > 85:")
print(high_math_score)

Original DataFrame:
      Name  Age  Math_Score  English_Score
0    Alice   22          85             75
1      Bob   21          90             82
2  Charlie   23          78             80
3    David   22          92             88
4     Emma   24          88             90

Students with Math score > 85:
    Name  Age  Math_Score  English_Score
1    Bob   21          90             82
3  David   22          92             88
4   Emma   24          88             90

In [ ]:
In Pandas, the Series and DataFrame are mutable, whereas the Panel is considered deprecated and not recommended for use. The recommended way to 
handle three-dimensional data is by using multi-index DataFrames.

In [ ]:
import pandas as pd


names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 22])
scores = pd.Series([85, 90, 78])

# Combining Series into a DataFrame
data = {'Name': names, 'Age': ages, 'Scores': scores}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)